node_modules
npm-debug.log
dist
coverage
.git
.github
.gitignore
.env
.env.prod
.DS_Store
*.log
logs/
test-mocks/
.vscode
.githooks
.tsbuildinfo
CHANGELOG.md
CONTRIBUTING.md
LICENSE
NOTES.txt
README.md
TODO.md
jest.config.js
jest.setup.ts
tsconfig.jest.json
.eslintrc.json
docs/
.nyc_output
*.tgz
