body {
	background-image: linear-gradient(from top, limegreen, black);
	margin:0;
	font-family: Arial, Helvetica, sans-serif;
}
a {
	outline:none;
}
a:active {
	color: green;
}
a:hover {
	color: blue;
}
h1 {
	text-align: center;
}
.buttonTwitch {
	text-align: center;
}