.buttonTwitch {
  width: 100px;
  border: 2px solid red;
  padding: 5px
}
.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
.nav {
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}