/* Website template by freewebsitetemplates.com */
/*------------------------- Layout styles ------------------------*/ 
body {
	background:url(../images/bg-body.jpg);
	margin:0;
	font-family: Arial, Helvetica, sans-serif;
}
a {
	outline:none;
}
.buttonTwitch {
	margin-left: 550px;
	margin-top: 100px;
	color: purple;
}